body{

margin:0;
background:#141414;
color:white;
font-family:Arial;

animation:fade 1s ease;

}

@keyframes fade{

from{
opacity:0;
}

to{
opacity:1;
}

}


/* HEADER */

header{

display:flex;
justify-content:space-between;
align-items:center;

padding:12px 15px;

}

#logo{

color:#e50914;
font-weight:bold;
font-size:20px;
text-decoration:none;

}

nav{

display:flex;
gap:10px;

}

nav a{

text-decoration:none;
color:#bbb;
font-size:12px;

}

nav a:hover{

color:white;

}


/* HERO */

.hero{

padding:15px;
position:relative;

}

.hero::after{

content:"";
position:absolute;

top:0;
left:0;

width:100%;
height:100%;

background:linear-gradient(
to top,
rgba(0,0,0,0.9),
rgba(0,0,0,0.4),
transparent
);

pointer-events:none;

}

.capa{

width:100%;
border-radius:8px;
margin-bottom:10px;

}


/* TEXTO */

.tipo{

font-size:10px;
letter-spacing:2px;
color:#aaa;

}

.titulo{

font-size:28px;
color:#f2b84b;
margin:5px 0;

}

.info{

display:flex;
flex-wrap:wrap;
gap:8px;
font-size:12px;

}

.juntos{

color:#46d369;
font-weight:bold;

}

.temporadas{

border:1px solid #777;
padding:2px 6px;
font-size:10px;

}

.estrelas{

color:#e50914;

}

.descricao{

font-size:13px;
margin-top:10px;
color:#ccc;
line-height:1.4;

}


/* BOTÕES */

.botoes{

margin-top:15px;
display:flex;
gap:10px;

}

button{

border:none;
padding:10px 15px;
border-radius:4px;
font-size:13px;
cursor:pointer;
transition:0.3s;

}

.assistir{

background:#e50914;
color:white;
font-weight:bold;

}

.assistir:hover{

background:#f40612;

}

.favorito{

background:#333;
color:white;

}

.like{

background:#222;
color:white;

}


/* GALERIA */

.momentos{

padding:15px;

}

.momentos h2{

font-size:16px;

}

.galeria{

display:flex;
gap:10px;
overflow-x:auto;
margin-top:10px;

}

.galeria img{

height:110px;
border-radius:6px;

transition:transform 0.3s;

}

.galeria img:hover{

transform:scale(1.1);

}


/* INTRO NETFLIX */

.intro{

position:fixed;
top:0;
left:0;

width:100%;
height:100vh;

background:black;

display:none;
justify-content:center;
align-items:center;

z-index:999;

}

.tudum{

color:#e50914;
font-size:40px;
font-weight:bold;

animation:tudumAnim 2s ease;

}

@keyframes tudumAnim{

0%{
transform:scale(0.3);
opacity:0;
}

50%{
transform:scale(1.2);
opacity:1;
}

100%{
transform:scale(1);
opacity:1;
}

}


/* VIDEO */

#videoContainer{

display:none;
justify-content:center;
align-items:center;
height:100vh;
background:black;

}

video{

width:100%;
max-width:500px;



}

.card img{

width:250px;
height:250px;

object-fit:cover;

border-radius:4px;

margin-left: 20px;

}

::-webkit-scrollbar{
display:none;
}

