body{

margin:0;
background:#141414;
color:white;
font-family:Arial;

}


/* HEADER */

header{

display:flex;
justify-content:space-between;
align-items:center;

padding:12px 15px;

}

#logo{

color:#e50914;
font-weight:bold;
font-size:18px;
text-decoration: none;

}

nav{

display:flex;
gap:10px;

}

nav a{

text-decoration:none;
color:#bbb;
font-size:12px;

}


/* HERO */

.hero{

padding:15px;

}

.capa{

width:45%;
margin-bottom:10px;

}

.tipo{

font-size:10px;
letter-spacing:2px;
color:#aaa;

}

.titulo{

font-size:28px;
color:#f2b84b;
margin:5px 0;

}

.info{

display:flex;
flex-direction:column;
gap:15px;
font-size:12px;

}

.subinfo{

display:flex;
gap:15px;

}

.juntos{

color:#46d369;
font-weight:bold;

}

.temporadas{

border:1px solid #777;
padding:2px 6px;
font-size:10px;

}

.estrelas{

color:#e50914;

}

.descricao{

font-size:13px;
margin-top:10px;
color:#ccc;
line-height:1.4;

}


/* BOTÕES */

.botoes{

margin-top:15px;
display:flex;
gap:10px;

}

button{

border:none;
padding:10px 15px;
font-size:13px;
cursor:pointer;

}

.assistir{

background:#e50914;
color:white;

}

.favorito{

background:#333;
color:white;

}

.like{

background:#222;
color:white;

}


/* GALERIA */

.momentos{

padding:15px;

}

.momentos h2{

font-size:13px;
margin-top:10px;
color:#ccc;
line-height:1.4;

}

.galeria{

display:flex;
gap:10px;
overflow-x:auto;
margin-top:10px;

}

.galeria img{

height:87px;

}


/* VIDEO */

#videoContainer{

display:none;
justify-content:center;
align-items:center;
height:100vh;
background:black;

}

video{

width:100%;
max-width:500px;

}